In [1]:
import pandas as pd

In [2]:
data = "cleaned_data.csv"
# Read the data into a DataFrame
df = pd.read_csv(data)
df = df[df['country'].str.contains('United States', na=False)]
# Display the filtered DataFrame
print(df['Location'])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
1140    Rural
1141    Rural
1142    Rural
1143    Rural
1144    Rural
Name: Location, Length: 1145, dtype: object

In [3]:
data = {
    'Location': ["Rural", "Urban"],
    'Block1': [13, 11],
    'Block2': [35, 25],
    'Block3': [21, 20],
    'Block4': [10, 9],
    'Block5': [21, 36]
}
df = pd.DataFrame(data)
df

  Location  Block1  Block2  Block3  Block4  Block5
0    Rural      13      35      21      10      21
1    Urban      11      25      20       9      36

In [4]:
df.to_json("location.json", orient='records')